:root {
  --bg-color: #fdfefe;
  --text-color-primary: #2c3e50;
  --text-color-secondary: #7f8c8d;
  --accent-color: #d4af37;
  --btn-bg-color: #2c3e50;
  --btn-text-color: #fff;
  --btn-hover-bg: #d4af37;
}

.about-container {
  font-family: "Arial", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color-primary);

}

.about-header {
  text-align: center;
  margin-bottom: 30px;
}

.about-header h1 {
  font-size: 2.5em;
  color: var(--accent-color);
}

.about-header p {
  font-size: 1.2em;
  color: var(--text-color-secondary);
}

.about-section {
  margin-bottom: 40px;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  padding: 20px;
}

.section-content.reverse {
  flex-direction: column-reverse;
}

.section-text {
  max-width: 800px;
  margin-bottom: 20px;
}

.section-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cta-section {
  text-align: center;
  padding: 20px;
  background-color: var(--accent-color);
  color: var(--btn-text-color);
  border-radius: 10px;
}

.cta-section h2 {
  font-size: 1.8em;
}

.cta-section p {
  font-size: 1.2em;
  margin: 10px 0 20px;
}

.cta-button {
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: var(--btn-hover-bg);
}

@media (min-width: 768px) {
  .section-content {
    flex-direction: row;
  }

  .section-content.reverse {
    flex-direction: row-reverse;
  }

  .section-image,
  .section-text {
    flex: 1;
    padding: 0 10px;
  }
}