/* Root variables for consistent theming */
:root {
    --bg-color: #fdfefe;
    --accent-color: #d4af37;
    --text-color-primary: #2c3e50;
    --text-color-secondary: #7f8c8d;
    --btn-bg-color: #2c3e50;
    --btn-hover-color: #7f8c8d;
  }
  
  /* Main container for the component */
  .content-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    margin-top: 40px;
    padding: 20px;
    background-color: var(--bg-color);
    border-radius: 8px; /* Optional: Adds a rounded border around the section */
  }
  
  /* Text section */
  .content-text {
    flex: 1;
    min-width: 300px;

  }
  
  .content-text h1 {
    font-size: 50px;
    margin-bottom: 16px;
    color: var(--text-color-primary);

  }
  
  .content-text p {
    font-size: 20px;
    color: var(--text-color-secondary);
    margin-bottom: 20px;
  }
  
  .content-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    
    
  }
  
  .b-button {
    background-color: var(--btn-bg-color);
    color: #fff;
    padding: 20px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
   
    transition: background-color 0.3s ease;
  }
  
  .b-button:hover {
    background-color: var(--btn-hover-color);
  }
  
  /* Image section */
  .content-image {
    flex: 1;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .responsive-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Optional: Adds rounded corners */
  }
  