/* Footer Styles */
.footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.footer-logo {
  flex: 1;
  margin: 10px;
}

.footer-logo h3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
}

.footer-logo p {
  font-size: 0.9rem;
  line-height: 1.5;
  text-align: left;
}

.footer-links,
.footer-contact {
  flex: 1;
  margin: 10px;
  text-align: left;
}

.footer-links h4,
.footer-contact h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-align: left;
}

.footer-links ul,
.footer-contact ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.footer-links li,
.footer-contact li {
  margin-bottom: 8px;
  text-align: left;
}

.footer-links a,
.footer-contact a {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.9rem;
  text-align: left;
}

.footer-links a:hover,
.footer-contact a:hover {
  text-decoration: underline;
  
}

.footer-bottom {
  margin-top: 20px;
  font-size: 0.8rem;
  color: #aaa;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-logo,
  .footer-links,
  .footer-contact {
    margin-bottom: 20px;
  }
}
